body
{
	margin:0;
	background-image:url("../image/backgroundSite.jpg");
	background-repeat: repeat;
	font-size: 1.1em;
}

/** ---------------------------------------- Menu -------------------------------------**/

#menu /** Menu permettant de naviguer sur les différentes pages **/
{
	position: fixed;
	width: 100%;
	top:0;
	background-color: #FAD7A0;
	z-index: 2;
}

.nav-item a{ /** Lien du menu **/
	text-decoration:none;
	color:#AF7AC5;
	padding-left: 20px;
}

.nav-item a:hover
{
	color: red;
	text-decoration:none;
}

/** ---------------------------------------- Page d'accueil -------------------------------------**/

#photoBanniere
{
	text-align: center;
	margin-bottom: 50px;
}

#titreAccueil
{
	text-align: center;
	margin-top: 90px;
}

#titreAccueil h1
{
	margin:auto;
	text-align: center;
	font-size:5.5em;
}

.card /** Bloc contenant l'API météo **/
{
	margin: auto;
	text-align: center;
	margin-top: 50px;
	padding-top: 25px;
	border-radius: 0;
	box-shadow: 5px 5px 15px black;

}

.Actualite /** Bloc contenant la dernière actualité **/
{
	padding-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.Actualite p
{
	margin-bottom: 0;
}

.programmeJour /** Bloc contenant le dernier article écrit **/
{
	padding-top: 20px;
	margin-top: 50px;
	text-align: center;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
    width: 750px;
    margin: auto;
}

.programmeJour p
{
	margin-bottom: 0;
}

.link
{
	font-size: 1.5em;
	text-decoration: none;
	color: #AF7AC5;
	padding-bottom: 0;
}

.link:hover
{
	text-decoration: none;
	color: red;
}

.link-download
{
	text-decoration: none;
	color: red;
}

.link-download:hover
{
	text-decoration: none;
	color: #AF7AC5;
}

#messageBienvenue
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
	border-style: double;
	width: 750px;
	padding-left: 10px;
	padding-right: 10px;

}

#descriptionCentre
{
	text-align: center;
}

#photoCentre
{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}

.photoStructure
{
	width: 512px;
	height: 342px;
	padding-top: 10px;
}

#contact_information
{
	padding-top: 20px;
	margin-top: 50px;
	text-align: center;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
    width: 375px;
    height: 180px;
    margin: auto;
}

#chene
{
	text-align: center;
	margin-top: 50px;
}

footer
{
	background-color: #FAD7A0;
	height: 52px;
	margin-top: 30px;
	color: black;
	text-align: center;
}

footer p
{
	margin: 0;
}

/** -------------------------------------------Pages Actualités------------------------------------------- **/

.container /** Bloc contenant les actualités et articles **/
{
	padding-top: 10px;
	margin-top: 80px;
	text-align: center;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.titleView
{
	margin-top: 80px;
	text-align: center;
}

.titre
{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.4em;
	padding-bottom: 8px;
}

.postPage /** Bloc de l'affichage d'une actualité **/
{
	margin-top: 90px;
}

.date_publi{
	font-size: 0.9em;
	padding-top: 20px;
}

.pagination
{
	display: inline-block;
	margin-left:calc(50% - calc(30px * 2));
	padding: 0;
	margin-bottom: 20px;
	border-radius: 8px;

}

.nbPages a /** Pagination des actualités et articles **/
{
	color: blue;
	font-size: 1.1em;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

#newsText /** Bloc contenant l'éditeur de texte afin d'ajouter une actualité **/
{
	margin-top: 80px;
}

.buttonText /** Bouton permettant de revenir à la page précédente lorsque nous nous trouvons sur un ajout d'actualité ou d'article **/
{
	margin-left: 10px;
}

.valider
{
	margin-bottom: 20px;
}

#addChapter
{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.postText
{
	margin-top: 80px;
}

#admin_comment_report
{
	text-align: center;
}

#signalsComment
{
	margin-bottom: 50px;
}

/** -------------------------------------------------Commentaire------------------------------------------- **/

.comment_publish
{
	background-color: #f8b195;
	border-radius: 8px;
	margin:auto;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width:750px;
	font-size: 0.9em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.comment_form
{
	background-color: #CBBEB5;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-left:10px; 
	margin-right:10px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width:750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.commentPseudo
{
	font-size: 1.5em;
}

/** -------------------------------------------------Pages Journal du Centre------------------------------------------- **/
#button a
{
	color:white;
	text-decoration: none;
}
.containerSchedule /** Affichage des différents articles du journal **/
{
	margin-top: 30px;
}

.programmeJour
{
	margin-bottom: 30px;
}

.scheduleText /** Bloc contenant l'éditeur de texte afin d'ajouter un article **/
{
	margin-top: 80px;
}

.prev_page
{
	margin-left: 10px;
	color: white;
}

.titleZone
{
	margin-top: 20px;
	margin-left: 10px;
}

.editZone
{
	margin-left: 10px;
	margin-right: 10px;
}

.valider
{
	margin-top: 10px;
	margin-left: 10px;
}

/** ----------------------------------------------------Page de Connexion -------------------------------------------------- **/


#loginform			  /** Bloc permettant de se connecter à la page d'administration **/
{
	background-color: rgba(255, 240, 188, 0.8);
	border-radius: 8px;
	width: 320px;
	height: 230px;
	margin:auto;
	padding-top: 20px;
	text-align: center;
	position: relative;
	top: 75px;
}

.login              /** Partie login/pseudo pour se connecter **/
{
	padding-right: 53px;
}

.forminput         /** Partie d'écriture du login ou mot de passe **/
{
	padding-top: 10px;
}

.submit				/** Bouton d'envoi du formulaire de connection **/
{
	margin-top: 20px;
}

#erreurLogin
{
	text-align: center;
	color: rgb(139,0,0);
	font-weight: bold;
}

.forgetPassword
{
	text-align: center;
}

.textlink:hover
{
	text-decoration: none;
	color: red;
}

/** ----------------------------------------------------Pages de récupération de mot de passe------------------------------ **/

.forminputpassword
{
	background-color: rgba(255, 240, 188, 0.8);
	border-radius: 8px;
	width: 320px;
	height: 190px;
	margin:auto;
	padding-top: 15px;
	text-align: center;
	position: relative;
	top: 75px;	
}

.email_password
{
	margin-top: 10px;
	padding-left: 5px;
}

.email_submit
{
	margin-top:20px;
}

.succes_mail
{
	margin-top: 5px;
}

.forminput_token
{
	background-color: rgba(255, 240, 188, 0.8);
	border-radius: 8px;
	width: 320px;
	height: 250px;
	margin:auto;
	padding-top: 15px;
	text-align: center;
	position: relative;
	top: 75px;	
}

.succes_password
{
	margin-top: 10px;
}


/** ----------------------------------------------------Page de Contact -------------------------------------------------- **/

#contactform
{
	background-color: rgba(255, 240, 188, 0.8);
	border-radius: 8px;
	width: 320px;
	height: 500px;
	margin:auto;
	padding-top: 20px;
	text-align: center;
	position: relative;
	top: 75px;
}

#first_name
{
	margin-left: 19px;
}

#email
{
	margin-left: 14px;
}

#object_contact
{
	margin-left: 17px;
}

#message
{
	margin-top: 20px;
}

.contact_us_admin
{
	background-color: rgba(255, 240, 188, 0.8);
	padding-top: 10px;
	margin-top: 80px;
	text-align: center;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.containerContact
{
	margin-bottom: 20px;
}


/** -----------------------------------------------Media Queries / Responsive Design----------------------------------------------- **/

.navbar-toggler-icon /** Bouton permettant de naviguer sur les différentes page sur tablette et mobile **/
{
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	height: 1.16em;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px/25px 25px 25px 25px;
}

#menu-button
{
	margin: auto;
}

@media (max-width: 769px){
	
	.menu-item
	{
		margin-right: calc(50% - calc(125px * 2));
	}

}

@media (max-width: 450px){

	.banniereAccueil
	{
		width:300px;
	}

	#titreAccueil h1
	{
		font-size: 3.5em;
	}

	#blocPrincipal
	{
		margin:auto;
	}

	.Actualite
	{
		width: 100%;
	}

	.programmeJour
	{
	    width: 100%;
	}

	#messageBienvenue
	{
		width: 100%;
	}

	.photoStructure
	{
		width: 300px;
		height: 230px;
	}

	#contact_information
	{
		width:100%;
	}

	#loginform			  /** Bloc permettant de se connecter à la page d'administration **/
	{
		width: 300px;
	}

	.forminputpassword
	{
		width: 300px;
	}

	.forminput_token
	{
		width: 300px;
	}

	#contactform
	{
		width: 300px;
		margin-bottom: 20px;
	}

	.container
	{
		width:300px;
	}

	.comment_publish
	{
		width:300px;
	}

	.comment_form
	{
		width:300px;
	}

	footer
	{
		height: 105px;
	}
}

